
<div class="row">
	<div class="col-md-4">
		<%= image_tag @cat.cat_image.url(:cat_show), class: "cat-show" %>
	</div>

	<div class="col-md-8">

		<div class="cat-info">

			<h2 class="cat-name"><span>Cat Name: </span><%= @cat.name %></h2>
			<h3 class="cat-owner"><span>Owner: </span><%= @cat.owner %></h3>
			<h2 class="avg-rating">Average Rating:</h2>
			<div class="average-review-rating" data-score=<%= @average_review %>></div>
			<span class="number-of-reviews"> Based On: <%= @cat.reviews.count %> reviews</span>
			<p class="cat-personality">About: <%= @cat.personality %></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">

		<div class="reviews">
			<h1> Reviews</h1>
			<%= render @cat.reviews %>

			<div>
				<%= link_to "Add Review", new_cat_review_path(@cat), class: "btn-custom"%>
			</div>
		</div>

	</div>

</div>

<div class="links btn-group">

	<%= link_to "Back", root_path, class: "btn btn-custom" %>
	<% if user_signed_in? %>
	
		<% if @cat.user_id == current_user.id %>
			<%= link_to "Edit", edit_cat_path(@cat), class: "btn btn-custom" %>
			<%= link_to "Delete", cat_path(@cat), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
		<% end %>
	<% end %>

</div>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets',
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>